body{
    font-family: Arial;
    background-color: #dbeeff;
}

h1{
    text-align: center;
    color: navy;
}

.contenedor{
    background-color: white;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid gray;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
}

input, select{
    padding: 8px;
    margin-top: 5px;
}

button{
    margin-top: 15px;
    padding: 10px;
    background-color: navy;
    color: white;
    border: none;
}
